<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Picket-您的票务专家</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/css/public/main.css">
    <link rel="stylesheet" type="text/css" href="/css/venue/activity.css">
</head>
<body>
<div id="header"></div>

<div id="navigation" class="row"></div>

<div class="row">
    <div class="col-md-1">
    </div>

    <div class="col-md-2">
        <div id="left-nav"></div>
    </div>

    <div id="body" class="col-md-8 right-part">
        <ul></ul>
        <div id="page"></div>
    </div>
</div>

<div id="footer"></div>

<script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script type='text/javascript' src='/webjars/bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script type='text/javascript' src='/layui/layui.all.js'></script>
<script type="text/javascript" src="/js/public/util.js"></script>
<script type="text/javascript" src="/js/venue/public/header.js"></script>
<script type="text/javascript" src="/js/venue/public/navigation.js"></script>
<script type="text/javascript" src="/js/public/page.js"></script>
<script type="text/javascript" src="/js/public/footer.js"></script>
<script type="text/javascript" src="/js/venue/activity/leftNavigation.js"></script>
<script type="text/javascript" src="/js/venue/activity/activity.js"></script>
</body>
</html>