<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Picket-您的票务专家</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/css/public/main.css">
</head>
<body class="index-background">
<div id="header"></div>

<script>
    if (localStorage.getItem("managerIsLogin")) {
        window.location.href = "/manager/addVenue";
    }
</script>

<div class="center-container higher">
    <div class="center-welcome">
        <h3 class="welcome-title">欢迎来到Picket</h3>
    </div>

    <div class="layui-form-item " style="margin: 5% auto; width: 50%">
        <input type="text" id="manager-id" required lay-verify="required"
               placeholder="请输入管理员名" autocomplete="off" class="layui-input">
    </div>

    <div class="layui-form-item" style="margin: 5% auto; width: 50%">
        <input type="password" id="password" required lay-verify="required"
               placeholder="请输入登录密码" autocomplete="off" class="layui-input">
    </div>

    <div class="layui-form-item" style="margin: 5% auto; width: 50%">
        <button type="button" class="index-btn manager-btn" onclick="login()">管理员登录</button>
    </div>

</div>

<div id="footer" class="index-footer"></div>

<script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script type='text/javascript' src='/webjars/bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script type='text/javascript' src='/layui/layui.all.js'></script>
<script type="text/javascript" src="/js/manager/public/header.js"></script>
<script type="text/javascript" src="/js/public/footer.js"></script>
</body>