<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Picket-您的票务专家</title>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/public/main.css">
    <link rel="stylesheet" type="text/css" href="/css/member/data-center.css">
    <link rel="stylesheet" type="text/css" href="/css/member/page.css">
</head>
<body>
<div id="header"></div>


<div id="table-pane" class="layui-tab" style="min-height: 600px">

    <ul class="layui-tab-title">
        <li class="layui-this">已支付</li>
        <li>未支付</li>
        <li>已取消</li>
    </ul>

    <!-- Tab panes -->
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show" id="paid">
        </div>
        <div class="layui-tab-item" id="unpaid">
        </div>
        <div class="layui-tab-item" id="cancelled">
        </div>
    </div>

</div>

<div id="footer"></div>

<script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script type='text/javascript' src='/layui/layui.all.js'></script>
<script type="text/javascript" src="/js/public/util.js"></script>
<script type="text/javascript" src="/js/member/public/header.js"></script>
<script type="text/javascript" src="/js/member/public/footer.js"></script>
<script type="text/javascript" src="/js/member/public/ticketsLeftNavigation.js"></script>
<script type="text/javascript" src="/js/member/statistic/order.js"></script>

</body>
</html>