#statistic-chart {
    width: 80%;
    height: 75%;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

#chart-nav {
    width: 90%;
    height: 60px;
    border-bottom: 2px solid #0050B3;
    margin-left: auto;
    margin-right: auto;
}

.chart-item {
    text-align: center;
    font-size: 16px;
    color: #262626;
    cursor: pointer;
    margin-top: 3%;
}

.chart-active {
    font-size: 18px;
    color: #0050B3;
}

.order-item {
    margin: 4% auto;
    width: 80%;
    height: 60px;
    border: 1px solid #d9d9d9;
    /*cursor: pointer;*/
    /*padding: 1%;*/
}

.order-title {
    font-size: 18px;
    margin: 2.5% 2%;
    width: 20%;
    float: left;
}

.order-info {
    margin: 2.5% 1%;
    font-size: 16px;
    float: left;
}

.order-detail {
    margin: 16px 10px;
    font-size: 16px;
    float: right;
}

.order-disable {
    margin: 4% auto;
    width: 80%;
    height: 60px;
}

.order-detail-title {
    font-size: 24px;
    margin: 4% auto;
    width: 60%;
    /*text-align: center;*/
}

.order-detail-item {
    font-size: 18px;
    margin: 4% auto;
    width: 60%;
    /*text-align: center;*/
}

.order-container {
    border: 1px solid #d9d9d9;
    width: 80%;
    height: 500px;
    margin: 4% auto;
}