$primary-color: #e85a4f;
$primary-color-light: #e98074;
$secondary-color: #d8c3a5;
$secondary-color-light: #eae7dc;
$select-color: #ffc53d;
$grey-color: #8e8d8a;
$black-color: rgb(44,62,80);
$white-color: #f4f7f6;
$transparent-grey: rgba(62,62,62,0.2);

$dark-green: #41b3a3;
$light-green: #8ee4af;
$yellow-green: #afd275;
$blue-green: #85ddcb;
$palevioletred: #db7093;