$primary-color: #e85a4f;
$primary-color-light: #e98074;
$secondary-color: #d8c3a5;
$secondary-color-light: #eae7dc;
$grey-color: #8e8d8a;
$black-color: rgb(44,62,80);
$transparent-grey: rgba(62,62,62,0.2);