@import "variables";

@font-face {
  font-family: "HYQiHei";
  src: url(https://static-raventech.raventech.cn/ravenshop-cdn/static1068/fonts/HYQiHei-60S.0520643.woff) format("woff");
}

@font-face {
  font-family: "PingFang SC";
  src: url('../../font/PingFang-SC-Regular.woff') format("woff"),
  url('../../font/PingFang-SC-bold.woff') format("woff");
}

@font-face {
  font-family: 'iconfont';  /* project id 571657 */
  src: url('//at.alicdn.com/t/font_571657_svanlp8jhpd.eot');
  src: url('//at.alicdn.com/t/font_571657_svanlp8jhpd.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_571657_svanlp8jhpd.woff') format('woff'),
  url('//at.alicdn.com/t/font_571657_svanlp8jhpd.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_571657_svanlp8jhpd.svg#iconfont') format('svg');
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #FFC53D;
}

a:active {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  background: $white-color;
  font-family: "Helvetica Neue", "PingFang SC", "HYQiHei", "Roobert", "Microsoft YaHei"
}

ul {
  list-style: none;
}

#picket {
  /*list-style: none;*/
  font-family: AmericanTypewriter;
  font-size: 26px;
  color: $primary-color;
  float: left;
  margin: 10px 10px 10px 10px;
}

#check-input,
#m-search-input {
  font-size: 16px;
  float: right;
  height: 30px;
  margin: 13px 0 10px 10px;
  border: none;
  padding: 2px 5px;
  background: $secondary-color-light;
  border: 1px solid rgba(62, 62, 62, 0.2);
}

#check,
#m-search {
  display: block;
  border: 2px solid #FFC53D;
  width: 60px;
  height: 30px;
  margin: 13px 10px 10px 0;
}

.y-line {
  border-left: 2px solid #ffd666;
  float: right;
  width: 2px;
  height: 32px;
  margin-top: 11px;
}

#navigation {
  background-color: $white-color;
  width: 100%;
  height: 52px;
  margin: 0;
  padding: 0;
  top: 0;
  overflow-x: auto;
  overflow-y: hidden;
}

.navigation-item {
  /*font-family: STSongti-SC-Regular;*/
  font-size: 16px;
  color: $black-color;
}

#left-nav {
  margin: 36px 30px 0px 20px;
  border: 1.2px solid $transparent-grey;
  border-top: 3px solid $primary-color;
  /*width: 90%;*/
  padding: 0;
  height: calc(100% - 37px);
  ul {
    height: 100%;
  }
}

.col-md-2 {
  height: 80vh;
}

.left-nav-item {
  display: block;
  margin-top: 40px;
  width: 100%;
  text-align: center;
  float: right;
}

.left-nav-inner {
  margin: 0;
  float: right;
  display: inline;
  height: 50px;
  width: inherit;
  &.active {
    background-color: white;
  }
  &:hover {
    border-right: 5px solid $primary-color;
  }
}

.nav-a {
  /*font-family: STSongti-SC-Regular;*/
  margin-top: 12px;
  font-size: 16px;
  font-weight: 550;
  display: block;
  color: $black-color;
  width: 100%;
  text-align: center;
}

.active {
  border-bottom: 5px solid $primary-color;
  &.left-nav-inner {
    border-bottom: none;
    border-right: 5px solid $primary-color;
  }
  &.tab-pane {
    border-bottom: none;
  }
}

#body {
  /*margin: 30px;*/
  margin-top: 36px;
  margin-bottom: 36px;
  /*width: 90%;*/
  min-height: 80vh;
  background-color: $white-color;
}

.right-part {
  min-height: 80vh;
  height: 80vh;
  border: 0.8px solid $transparent-grey;
}

#footer {
  height: 52px;
  width: 100%;
  overflow: auto;
}

#copy-right {
  text-align: center;
  line-height: 52px;
  font-family: Times-Roman;
  font-size: 16px;
}

#page {
  float: left;
  clear: left;
  position: relative;
  left: 50%;
  text-align: center;
}

.page-item {
  float: left;
  position: relative;
  right: 50%;
  margin: 10px;
}

.page-num {
  cursor: default;
  margin-top: 12px;
}

.active-navigation {
  border-bottom: 5px solid #e98074;
}

.index-background {
  background-image: url("../../image/background.jpg");
  background-size: 100% auto;
}

.index-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.center-container {
  width: 60%;
  margin: 20% auto;
  /*background-color: #8c8c8c;*/
}

.center-welcome {
  text-align: center;
}

.welcome-title {
  /*font-family: AmericanTypewriter bold;*/
  font-size: 48px;
  color: #faad14;
}

.center-btn-group {
  margin-top: 2%;
  text-align: center;
}

.index-btn {
  margin: 3%;
  width: 15%;
  background-color: #0050B3;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

@font-face {
  font-family: 'iconfont';
  /* project id 571657 */
  src: url('//at.alicdn.com/t/font_571657_6wqsd96zxfg8pvi.eot');
  src: url('//at.alicdn.com/t/font_571657_6wqsd96zxfg8pvi.eot?#iefix') format('embedded-opentype'), url('//at.alicdn.com/t/font_571657_6wqsd96zxfg8pvi.woff') format('woff'), url('//at.alicdn.com/t/font_571657_6wqsd96zxfg8pvi.ttf') format('truetype'), url('//at.alicdn.com/t/font_571657_6wqsd96zxfg8pvi.svg#iconfont') format('svg');
}

.ok-icon {
  font-family: iconfont;
  font-style: normal;
}

.alert-tip {
  margin: 5% auto;
  font-size: 16px;
  text-align: center;
}

.higher {
  width: 40%;
  margin-top: 15%;
}

.manager-btn {
  width: 100%;
  margin: 1% auto;
}

#inner-header {
  width: 100%;
  height: 28px;
  margin: 0;
  padding: 0;
  top: 0;
  overflow-y: hidden;
  overflow-x: auto;
  background-color: $white-color;
  //box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  border-bottom: 1px solid $transparent-grey;
}

blockquote.layui-elem-quote {
  border-left-color: $primary-color-light;
}

.header-item {
  font-size: 13px;
  margin-top: 5px;
  height: 24.5px;
  text-align: center;
  color: $black-color;
}

#notification-float {  
  display: none;
  z-index: 1000;
  width: 60px;
  height: 60px;
  top: 67vh;
  right: 20px;
  font-size: 1.8em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    font-size: 0.5em;
    color: rgb(232, 90, 79);
  }
  border-radius: 60px;
  background: #f4f4f4;
}

.page-pointer {
  cursor: pointer;
  &:hover {
    color: $select-color;
  }
}

.pointer {
  cursor: pointer;
  &:hover {
    color: $select-color;
  }
}

.dispointer {
  cursor: default;
}

.left-header-container {
  float: left;
  margin-left: 10%;
}

.right-header-container {
  float: right;
  margin-right: 10%;
}

.left-item {
  float: left;
  margin-right: 20px;
}

.right-item {
  float: right;
  margin-left: 20px;
}

.notification-item {
  background: rgb(245,245,240);
  box-shadow: 0 1px 1px 0 rgba(121,146,185,.54);
  margin-bottom: 10px;
  padding: 24px 16px;
  font-size: 1.1em;
}

#site-name-bar {
  width: 80%;
  margin: 3% auto 1% auto;
  height: 60px;
  position: relative;
}

#site-name {
  font-size: 40px;
  width: 12%;
  min-width: 122px;
  float: left;
  font-weight: bold;
  // margin-top: 5px;
  a {
    color: $primary-color;
  }
}

#city {
  float: left;
  width: auto;
  height: 40px;
  text-align: left;
  font-size: 16px;
  padding-top: 10px;
  padding-left: 10px;
  margin-top: 5px;
  border-left: 1px solid $transparent-grey;
  cursor: pointer;
  &:hover {
    color: $select-color;
  }
}

#city-pane {
  position: absolute;
  top: 50px;
  left: 100px;
  height: 450px;
  width: 700px;
  border: 1px solid $transparent-grey;
  background-color: $white-color;
  z-index: 9999;
}

#inner-city-pane {
  width: 90%;
  margin: auto;
  height: 170px;
  //border: solid;
  overflow: scroll;
}

.city-row {
  width: 90%;
  //height: 30px;
  margin: 20px auto 10px auto;
  overflow: auto;
}

.inner-city-row {
  width: 90%;
  float: right;
  margin: auto;
  overflow: auto;
}

.inner-city-row-container {
  width: 100%;
  overflow: auto;
  margin-bottom: 10px;
}

.letter-tip {
  float: left;
  width: 10px;
  font-size: 16px;
}

.city-tip {
  float: left;
  width: 100px;
  font-size: 16px;
}

.city-item {
  float: left;
  width: 70px;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    color: $select-color;
  }
  margin-bottom: 5px;
}

#now-city {
  cursor: default;
  &:hover {
    color: black;
  }
}

.city-letter {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: $white-color-deeper;
  font-size: 16px;
  padding-top: 10px;
  cursor: pointer;
}

.xiala {
  font-family: iconfont;
  font-size: 10px;
  font-style: normal;
  margin-left: 5px;
}

#search-bar {
  float: right;
  width: 60%;
  height: 100%;
}

#search-bar-input {
  height: 75%;
  width: 80%;
  float: left;
  margin-top: 1%;
  font-size: 18px;
  border: 2px solid $primary-color;
  box-sizing: border-box;
  background-color: $white-color;
  padding: 5px;
}

#search-bar-button {
  height: 75%;
  width: 20%;
  float: left;
  margin-top: 1%;
  font-size: 18px;
  border: none;
  background-color: $primary-color;
  color: white;
}

#header-menu {
  height: 48px;
  width: 100%;
  margin: auto;
  background-color: $primary-color;
  padding-left: 10%;
}

.header-menu-item {
  font-weight: lighter;
  font-size: 18px;
  float: left;
  //margin-top: 10px;
  //margin-right: 30px;
  color: $white-color;
  cursor: pointer;
  display: block;
  width: auto;
  height: 48px;
  text-align: left;
  padding: 10px 30px 10px 0;
}

.header-item-select {
  background-color: $primary-color-light;
}

.sub-img-title {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
}

.sub-img-date {
  color: $grey-color;
  width: 100%;
  height: 0;
  padding-bottom: 35%;

}

.sub-img-venue {
  margin-bottom: 4px;
  width: 100%;
  height: 0;
  padding-bottom: 30%;
}

.sub-img {
  width: 14%;
  margin: 0 2% 2% 0;
  float: left;
}

.sub-activity {
  width: 73%;
  margin-left: 1%;
  margin-top: 1%;
  float: left;
  height: 0;
  padding-bottom: 15%;
}

.sub-img-description {
  float: left;
  width: 14%;
  margin: 0 2% 2% 0;
}

.sub-row {
  width: 100%;
  height: 0;
  padding-bottom: 23%;
}

.display-img-price {
  float: left;
  margin-right: 5px;
  margin-top: 2px;
  color: $grey-color;
}

.heavy {
  font-weight: 900;
  margin-top: 2px;
  color: $primary-color;
}

#loginButton:hover, #registerButton:hover {
  cursor: pointer;
}

#loginPanel {
  .label-bar {
    margin: 30px;
    margin-left: 80px;
  }
  .input-group-addon {
    width: 20px;
  }
}

#registerPanel {
  margin-top: -20px;
  .label-bar {
    margin: 15px;
    margin-left: 70px;
  }
  .input-group-addon {
    width: 80px;
  }
}

.label-bar {
  width: 100%;
  margin-bottom: 24px;
  label {
    width: 130px;
    text-align: right;
    margin-right: 20px;
  }
}

.layui-layer-content {
  overflow: hidden !important;
}

.sad-icon {
  font-family: iconfont;
  font-size: 50px;
  font-style: normal;
}


