<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Picket-您的票务专家</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/css/public/main.css">
    <link rel="stylesheet" type="text/css" href="/css/public/account.css">
</head>
<body>
<div id="header"></div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div id="body" class="col-md-4">
        <div class="tip">
            <p>欢迎回来!</p>
        </div>

        <input type="text" class="input" id="venue-code" name="venue-code" placeholder="请输入7位场馆编码"
               maxlength="7" minlength="7"/>
        <input type="password" class="input" id="password" name="password" placeholder="请输入密码"/>
        <button class="login-btn" onclick="login()">登录</button>

    </div>
</div>

<div id="footer">
    <p id="copy-right">Copyright ©️ 2018 GaoYue </p>
</div>

<script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script type='text/javascript' src='/webjars/bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script type='text/javascript' src='/layui/layui.all.js'></script>
<script type="text/javascript" src="/js/public/util.js"></script>
<script type="text/javascript" src="/js/venue/public/header.js"></script>
</body>
</html>