<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Picket-您的票务专家</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/css/public/main.css">
    <link rel="stylesheet" type="text/css" href="/css/venue/info.css">
</head>
<body>
<div id="header"></div>

<div id="navigation" class="row"></div>

<div class="row">
    <div class="col-md-1">
    </div>

    <div class="col-md-2">
        <div id="left-nav"></div>
    </div>

    <div id="body" class="col-md-8 right-part" style="padding: 0;">
        <div id="chart-nav">
            <p id="area-graph" class="chart-item  col-md-6">场馆平面图</p>
            <p id="seat-graph" class="chart-item  col-md-6">座位分布图</p>
        </div>

        <div id="graph">
            <canvas id="c"></canvas>
        </div>

        <div id="step-bar" class="step-bar" style="display: none">
            <div class="layui-form step-bar-item">
                <label class="layui-form-label larger">选择区域</label>
                <div id="area-type" class="layui-input-block layui-form-selectup">
                    <select name="type" lay-verify="required">
                        <option value="0">A区域</option>
                        <option value="1">B区域</option>
                    </select>
                </div>
            </div>
        </div>

        <!--<div id="page"></div>-->
    </div>
</div>

<div id="footer"></div>

<script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script type='text/javascript' src='/webjars/bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script type='text/javascript' src='/layui/layui.all.js'></script>
<script type="text/javascript" src="/js/public/util.js"></script>
<script type="text/javascript" src="/js/venue/public/header.js"></script>
<script type="text/javascript" src="/js/venue/public/navigation.js"></script>
<script type="text/javascript" src="/js/public/page.js"></script>
<script type="text/javascript" src="/js/public/footer.js"></script>
<script type="text/javascript" src="/js/venue/center/leftNavigation.js"></script>
<script type="text/javascript" src="/js/lib/fabric.min.js"></script>
<script type="text/javascript" src="/js/venue/public/canvas.js"></script>
<script type="text/javascript" src="/js/venue/center/seatInfo.js"></script>
</body>
</html>