<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Picket-您的票务专家</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/css/public/main.css">
    <link rel="stylesheet" type="text/css" href="/css/venue/statistic.css">
</head>
<body>
<div id="header"></div>

<div id="navigation" class="row"></div>

<div class="row">
    <div class="col-md-1">
    </div>

    <div class="col-md-2">
        <div id="left-nav"></div>
    </div>

    <div id="body" class="col-md-8 right-part">
        <div class="order-container">
            <div id="order-id" class="order-detail-title"></div>
            <div id="activity-name" class="order-detail-item"></div>
            <div id="venue-name" class="order-detail-item"></div>
            <div id="order-state" class="order-detail-item"></div>
            <div id="place-time" class="order-detail-item"></div>
            <div id="seat-list" class="order-detail-item"></div>
            <div id="begin-time" class="order-detail-item"></div>
            <div id="order-value" class="order-detail-item"></div>
        </div>
        <div style="width:80%; margin: 0 auto">
            <button id="return-btn" class="layui-btn layui-btn-normal"
                    style="float: right; width: 20%" onclick="{window.location.href='/venue/order'}">返回
            </button>
        </div>
    </div>
</div>

<div id="footer"></div>

<script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script type='text/javascript' src='/webjars/bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script type='text/javascript' src='/layui/layui.all.js'></script>
<script type="text/javascript" src="/js/public/util.js"></script>
<script type="text/javascript" src="/js/venue/public/header.js"></script>
<script type="text/javascript" src="/js/venue/public/navigation.js"></script>
<script type="text/javascript" src="/js/venue/statistic/leftNavigation.js"></script>
<script type="text/javascript" src="/js/public/footer.js"></script>
<script type="text/javascript" src="/js/venue/statistic/orderDetail.js"></script>
</body>
</html>