<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Picket-您的票务专家</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/css/public/main.css">
    <link rel="stylesheet" type="text/css" href="/css/member/activity-detail.css">
    <link rel="stylesheet" type="text/css" href="/css/member/activity-list.css">
    <link rel="stylesheet" type="text/css" href="/css/member/comment.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<body>
<div id="header"></div>

<div id="activity-container"></div>

<div id="lower-container">
    <div class="img"></div>
    <div class="color"></div>
    
    <div id="description-container">       
        <div class="sub-title">
            演出介绍
        </div>
        <div id="description-detail"> </div>

        <div class="sub-title lower">
            评论
        </div>
        <div id="no-comment" style="display: none">暂时没有评论哦～</div>
        <div id="comment"></div>

        <div class="layui-form" style="height: 200px;margin-top: 3%;">
            <div class="fill-comment-tip">你可以在此填写评论</div>
            <textarea class="layui-textarea" id="comment-post" name="comment" placeholder="请输入内容"
                      style="margin: 1% auto"></textarea>
            <button class="layui-btn layui-btn-normal" onclick="postComment()" style="float: right">
                发表评论
            </button>
        </div>

        <div id="page"></div>
    </div>
    <div id="hot-container"></div>   
</div>

<div id="footer"></div>
<script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=5E140F3B326bd43f881c00d152b90683"></script>
<script type='text/javascript' src='/webjars/bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script type='text/javascript' src='/layui/layui.all.js'></script>
<script type="text/javascript" src="/js/public/util.js"></script>
<script type="text/javascript" src="/js/public/page.js"></script>
<script type="text/javascript" src="/js/member/public/header.js"></script>
<script type="text/javascript" src="/js/member/public/footer.js"></script>
<script type="text/javascript" src="/js/member/activity/activity-detail.js"></script>
<script type="text/javascript" src="/js/member/activity/comment.js"></script>
</body>
</html>
