<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Picket-您的票务专家</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/css/public/main.css">
    <link rel="stylesheet" type="text/css" href="/css/member/activity-list.css">
    <link rel="stylesheet" type="text/css" href="/css/member/authority.css">
</head>

<body>
<div id="header">
    <div class="left-header-container">
        <div class="header-item left-item">Hi，欢迎来到Picket</div>
        <div class="header-item left-item" id="loginButton" onclick="member_login()">登录</div>
        <div class="header-item left-item" id="registerButton" onclick="member_register()">注册</div>
    </div>
    <div class="right-header-container">
        <div class="header-item right-item">个人中心</div>
    </div>
</div>

<div id="site-name-bar">
    <div id="site-name">Picket</div>
    <div id="search-bar">
        <input id="search-bar-input" type="text"/>
        <button id="search-bar-button">搜索</button>
    </div>
</div>

<div id="header-menu">
    <div class="header-menu-item">演唱会</div>
    <div class="header-menu-item">音乐会</div>
    <div class="header-menu-item">歌剧</div>
    <div class="header-menu-item">话剧</div>
    <div class="header-menu-item">戏剧</div>
</div>

<div class="layui-carousel" id="activity-gallery">
    <div carousel-item>
        <img src="headpic/15.jpg"/>
        <img src="headpic/16.jpg"/>
        <img src="headpic/17.jpg"/>
        <img src="headpic/18.jpg"/>
        <img src="headpic/19.jpg"/>
        <img src="headpic/20.jpg"/>
        <img src="headpic/22.jpg"/>
    </div>
</div>

<div id="activity-tab" class="layui-tab">
    <ul id="activity-tab-title" class="layui-tab-title">
        <li class="layui-this tab-title">猜你喜欢</li>
        <li class="tab-title">今日推荐</li>
        <li class="tab-title">近期上映</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">
            <div class="display-img-container">
                <img class="display-img" src="/showpic/9.jpg"/>
                <div class="display-img-description">Count Star music festival 珠江源音乐节</div>
                <div class="display-img-price">票价：</div>
                <div class="display-img-price heavy">100元</div>
                <div class="display-img-price">起</div>
            </div>
            <div class="display-img-container">
                <img class="display-img" src="/showpic/10.jpg"/>
                <div class="display-img-description">Count Star music festival 珠江源音乐节</div>
                <div class="display-img-price">票价：</div>
                <div class="display-img-price heavy">100元</div>
                <div class="display-img-price">起</div>
            </div>
            <div class="display-img-container">
                <img class="display-img" src="/showpic/11.jpg"/>
                <div class="display-img-description">Count Star music festival 珠江源音乐节</div>
                <div class="display-img-price">票价：</div>
                <div class="display-img-price heavy">100元</div>
                <div class="display-img-price">起</div>
            </div>
            <div class="display-img-container">
                <img class="display-img" src="/showpic/12.jpg"/>
                <div class="display-img-description">Count Star music festival 珠江源音乐节</div>
                <div class="display-img-price">票价：</div>
                <div class="display-img-price heavy">100元</div>
                <div class="display-img-price">起</div>
            </div>
            <div class="display-img-container">
                <img class="display-img" src="/showpic/13.jpg"/>
                <div class="display-img-description">Count Star music festival 珠江源音乐节</div>
                <div class="display-img-price">票价：</div>
                <div class="display-img-price heavy">100元</div>
                <div class="display-img-price">起</div>
            </div>
        </div>
        <div class="layui-tab-item">内容2</div>
        <div class="layui-tab-item">内容3</div>
    </div>
</div>


<div class="activity-floor">
    <div class="floor-header">演唱会</div>

    <div class="floor-container">

        <div class="main-activity">
            <img class="main-img" src="/showpic/14.jpg"/>
            <div class="text">
            </div>
        </div>

        <div class="sub-activity">
            <div class="sub-row">
                <img class="sub-img" src="/showpic/15.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>

                <img class="sub-img" src="/showpic/16.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>

                <img class="sub-img" src="/showpic/17.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>
            </div>

            <div class="sub-row">
                <img class="sub-img" src="/showpic/18.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>

                <img class="sub-img" src="/showpic/19.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>

                <img class="sub-img" src="/showpic/20.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="activity-floor">
    <div class="floor-header">音乐会</div>

    <div class="floor-container">

        <div class="sub-activity">
            <div class="sub-row">
                <img class="sub-img" src="/showpic/15.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>

                <img class="sub-img" src="/showpic/16.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>

                <img class="sub-img" src="/showpic/17.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>
            </div>

            <div class="sub-row">
                <img class="sub-img" src="/showpic/18.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>

                <img class="sub-img" src="/showpic/19.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>

                <img class="sub-img" src="/showpic/20.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>
            </div>
        </div>

        <div class="main-activity">
            <img class="main-img" src="/showpic/14.jpg"/>
            <div class="text">
            </div>
        </div>

    </div>
</div>

<div class="activity-floor">
    <div class="floor-header">歌剧</div>

    <div class="floor-container">

        <div class="main-activity">
            <img class="main-img" src="/showpic/14.jpg"/>
            <div class="text">
            </div>
        </div>

        <div class="sub-activity">
            <div class="sub-row">
                <img class="sub-img" src="/showpic/15.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>

                <img class="sub-img" src="/showpic/16.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>

                <img class="sub-img" src="/showpic/17.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>
            </div>

            <div class="sub-row">
                <img class="sub-img" src="/showpic/18.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>

                <img class="sub-img" src="/showpic/19.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>

                <img class="sub-img" src="/showpic/20.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="activity-floor">
    <div class="floor-header">话剧</div>

    <div class="floor-container">

        <div class="sub-activity">
            <div class="sub-row">
                <img class="sub-img" src="/showpic/15.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>

                <img class="sub-img" src="/showpic/16.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>

                <img class="sub-img" src="/showpic/17.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>
            </div>

            <div class="sub-row">
                <img class="sub-img" src="/showpic/18.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>

                <img class="sub-img" src="/showpic/19.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>

                <img class="sub-img" src="/showpic/20.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>
            </div>
        </div>

        <div class="main-activity">
            <img class="main-img" src="/showpic/14.jpg"/>
            <div class="text">
            </div>
        </div>

    </div>
</div>

<div class="activity-floor">
    <div class="floor-header">戏剧</div>

    <div class="floor-container">

        <div class="main-activity">
            <img class="main-img" src="/showpic/14.jpg"/>
            <div class="text">
            </div>
        </div>

        <div class="sub-activity">
            <div class="sub-row">
                <img class="sub-img" src="/showpic/15.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>

                <img class="sub-img" src="/showpic/16.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>

                <img class="sub-img" src="/showpic/17.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>
            </div>

            <div class="sub-row">
                <img class="sub-img" src="/showpic/18.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>

                <img class="sub-img" src="/showpic/19.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>

                <img class="sub-img" src="/showpic/20.jpg"/>
                <div class="sub-img-description">
                    <p class="sub-img-title">台湾果陀剧场《最后14堂星期二的课》</p>
                    <p class="sub-img-date">2018.08.30-09.02</p>
                    <p class="sub-img-venue">保利剧院</p>
                    <p class="display-img-price heavy">100元</p>
                    <p class="display-img-price">起</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="footer"></div>

<script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script type='text/javascript' src='/webjars/bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script type='text/javascript' src='/layui/layui.all.js'></script>
<script type="text/javascript" src="/js/public/util.js"></script>
<!--<script type="text/javascript" src="/js/member/public/header.js"></script>-->
<!--<script type="text/javascript" src="/js/member/public/navigation.js"></script>-->
<!--<script type="text/javascript" src="/js/public/page.js"></script>-->
<!--<script type="text/javascript" src="/js/public/footer.js"></script>-->
<script type="text/javascript" src="/js/member/activity/activity-new.js"></script>
<script type="text/javascript" src="/js/member/public/authority.js"></script>
</body>