<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Picket-您的票务专家</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/css/public/main.css">
    <link rel="stylesheet" type="text/css" href="/css/member/activity-list.css">
</head>
<body>
<div id="header"></div>

<div id="selector">
    <div id="time-selector">
        <p class="selector-tip">筛选：</p>
        <p id="time-selector-0" class="selector-item" onclick="updateFilter('all')">全部时间</p>
        <p id="time-selector-1" class="selector-item" onclick="updateFilter(7)">一周内</p>
        <p id="time-selector-2" class="selector-item" onclick="updateFilter(30)">一月内</p>
        <p id="time-selector-3" class="selector-item" onclick="updateFilter('weekend')">本周末</p>
    </div>
    <div id="type-selector">
        <p class="selector-tip">排序：</p>
        <p id="type-selector-0" class="selector-item" onclick="updateSort('hot')">按热度排序</p>
        <p id="type-selector-1" class="selector-item" onclick="updateSort('time')">按时间排序</p>
        <p id="type-selector-2" class="selector-item" onclick="updateSort('price')">按价格排序</p>
    </div>
</div>

<div id="no-data-tip" style="display: none"><i class="sad-icon">&#xe672;</i>没有找到符合条件的演出</div>

<div id="photo-list"></div>

<div id="page"></div>

<script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script type='text/javascript' src='/webjars/bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script type='text/javascript' src='/layui/layui.all.js'></script>
<script type="text/javascript" src="/js/public/util.js"></script>
<script type="text/javascript" src="/js/member/public/header.js"></script>
<script type="text/javascript" src="/js/public/page.js"></script>
<!--<script type="text/javascript" src="/js/public/footer.js"></script>-->
<script type="text/javascript" src="/js/member/activity/activity.js"></script>
</body>
</html>