<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Picket-您的票务专家</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/css/public/main.css">
    <link rel="stylesheet" type="text/css" href="/css/member/pay.css">
</head>
<body onbeforeunload="confirmLeave()">
<div id="header"></div>

<div id="navigation" class="row"></div>

<div class="row">
    <div class="col-md-1"></div>
    <div id="body" class="col-md-10 layui-form">

        <div class="pay-item-container" style="margin-top: 5%">
            <blockquote id="time-count" class="layui-elem-quote"></blockquote>
        </div>

        <div class="pay-item-container">
            <!--<div class="layui-form">-->
                <label class="layui-form-label larger">支付方式</label>
                <div class="layui-input-block">
                    <select id="pay-method" lay-verify="" lay-filter="pay-method">
                        <option value="ALIPAY">支付宝</option>
                        <option value="CREDIT_CARD">银行卡</option>
                    </select>
                <!--</div>-->
            </div>
        </div>

        <div class="pay-item-container">
            <!--<div class="layui-form">-->
                <label class="layui-form-label larger">选择优惠券</label>
                <div class="layui-input-block">
                    <select id="voucher" lay-verify="" lay-filter="voucher">
                    </select>
                </div>
            <!--</div>-->
        </div>

        <div class="pay-item-container">
            <!--<div class="layui-form">-->
                <label class="layui-form-label larger">支付账号</label>
                <div class="layui-input-block">
                    <input id="payId" type="text" name="title" required lay-verify="required" placeholder="请输入账号"
                           autocomplete="off" class="layui-input">
                </div>
            <!--</div>-->
        </div>

        <div class="pay-item-container">
            <!--<div class="layui-form">-->
                <label class="layui-form-label larger">支付密码</label>
                <div class="layui-input-block">
                        <input id="payPassword" type="password" name="password" required lay-verify="required" placeholder="请输入密码"
                               autocomplete="off" class="layui-input">
                </div>
            <!--</div>-->
        </div>

        <div class="pay-item-container">
            <!--<div class="layui-form">-->
                <label class="layui-form-label larger">支付金额</label>
                <div class="layui-input-block">
                    <div id="pay-value" class="pay-value">380元</div>
                </div>
            <!--</div>-->
        </div>

        <div class="pay-item-container">
            <button class="layui-btn layui-btn-normal" style="float: right" onclick="pay()">确认支付</button>
            <button class="layui-btn layui-btn-normal" style="float: right; margin-right: 3%"
                    onclick="unPay()">取消支付</button>
        </div>

    </div>
</div>


<div id="footer"></div>
<script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script type='text/javascript' src='/webjars/bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script type="text/javascript" src="/layui/layui.all.js"></script>
<script type="text/javascript" src="/js/public/util.js"></script>
<script type="text/javascript" src="/js/member/public/header.js"></script>
<script type="text/javascript" src="/js/member/public/footer.js"></script>
<script type="text/javascript" src="/js/member/activity/pay.js"></script>
</body>
</html>