<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Picket-您的票务专家</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/css/public/main.css">
    <link rel="stylesheet" type="text/css" href="/css/member/purchase.css">
</head>
<body>
<div id="header"></div>

<div id="navigation" class="row"></div>

<div class="row">
    <div class="col-md-1"></div>
    <div id="body" class="col-md-10">

        <!--<div id="statistic-graph">-->
        <!--<canvas id="sc"></canvas>-->
        <!--</div>-->

        <div class="tip">
            <blockquote id="buy-tip" class="layui-elem-quote">请先选择区域。点击座位后即可购买。只能选择一个区域的座位，最多购买6张。</blockquote>
        </div>

        <div id="s-graph">
            <canvas id="sc"></canvas>
        </div>

        <div class="step-bar" style="margin-bottom: 1%">
            <div class="layui-form step-bar-item">
                <label class="layui-form-label larger">选择区域</label>
                <div id="area-type" class="layui-input-block">
                    <select name="type" lay-verify="required">
                        <option value="0">A区域</option>
                        <option value="1">B区域</option>
                    </select>
                </div>
            </div>
            <div id="price-bar"></div>
        </div>

        <div id="graph">
            <canvas id="c"></canvas>
        </div>

        <div class="step-bar">

            <div id="select-seats" class="step-bar-item"
                 style="float: left; width: 680px; padding: 8px 0; font-size: 16px; margin-right: 0; text-align: left">
                <p id="select-tip"></p>
                <p id="seats"></p>
            </div>

            <div id="total-price" class="step-bar-item"
                 style="float: left; width: 120px; text-align: right; padding: 8px; font-size: 16px; margin-right: 0">
            </div>

            <div class="step-bar-item" style="float: right; margin-right: 0; width: 95px; margin-left: 0">
                <button class="layui-btn layui-btn-normal" onclick="confirmBuy()" style="float: right; margin-right: 0">
                    确认购票
                </button>
            </div>
        </div>
    </div>
    <div id="footer"></div>
</div>


<script type="text/javascript" src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script type='text/javascript' src='/webjars/bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script type='text/javascript' src='/layui/layui.all.js'></script>
<script type="text/javascript" src="/js/public/util.js"></script>
<script type="text/javascript" src="/js/member/public/header.js"></script>
<script type="text/javascript" src="/js/lib/fabric.min.js"></script>
<script type="text/javascript" src="/js/venue/public/canvas.js"></script>
<script type="text/javascript" src="/js/public/footer.js"></script>
<script type="text/javascript" src="/js/member/activity/purchase.js"></script>
<script type="text/javascript" src="/js/member/activity/s-purchase.js"></script>
</body>
</html>