@import "../public/variables";

@font-face {
  font-family: "HYQiHei";
  src: url(https://static-raventech.raventech.cn/ravenshop-cdn/static1068/fonts/HYQiHei-60S.0520643.woff) format("woff");
}

.activity-list {
  width: 100%;
}

.info {
  display: inline-block;
  width: 100%;
  /*margin-right: 10px;*/
}

.activity-item {
  margin: 10px 50px 10px 10px;
  border-bottom: 1px solid #0050B3;
}

.photo {
  margin: 20px 10px 10px 10px;
  float: left;
  width: auto;
  height: 200px;
}

.activity-title {
  margin: 10px;
  padding: 10px;
  font: bold 24px/1.5 Helvetica, Verdana, sans-serif;
}

.activity-info {
  color: #262626;
  font-style: italic;
}

.introduction {
  margin-right: 0;
  width: 70%;
  float: left;
}

.detail {
  margin-top: 40px;
  margin-right: 20px;
  display: inline-block;
  color: #0050B3;
  float: right;
  margin-bottom: 10px;
}

#activity-gallery {
  width: 80%;
  margin: 10px auto;
}

#activity-tab {
  width: 80%;
  margin: auto;
  box-shadow: 0 0 0 0;
  // color: $white-color;
  height: 0;
  padding-bottom: 26%;
}

.tab-title {
  background-color: $white-color;
}

//#activity-tab-title {
//  background-color: $white-color;
//}

li.tab-title{
  border-bottom: 1px solid $transparent-grey;
}

.layui-tab-title {
  margin-left: 10px;
  border-bottom: 1px solid $transparent-grey;
  height: 41px;
}

.layui-tab-title .layui-this {
  color: $white-color;
  background-color: $primary-color;
  border: none;
}

.layui-tab-title li {
  background-color: $white-color;
}

.layui-tab-title .layui-this:after {
  border: none;
}

.display-img-container {
  width: 16%;
  height: auto;
  float: left;
  margin-right: 4%;
}

.display-img {
  width: 100%;
  height: auto;
}

.display-img-description {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: $black-color;
  font-size: 18px;
  margin: 5px 0;
}

.heavy {
  font-weight: 900;
  margin-top: 2px;
  color: $primary-color;
}

.activity-floor {
  width: 80%;
  height: 0;
  padding: 10px 10px 30% 10px;
  //padding-bottom: 50%;
  margin: 2% auto 0 auto;
  .floor-container {
    display: flex;
    width: 100%; 
    flex-wrap: wrap;   
    .main-activity {
      width: 23%;
      order: 0;
    }
    .sub-activity {
      order: 1;
      padding: 0;
    }
    &.right {
      .main-activity {
        order: 2;
      }
    }
  }
}

@media all and (max-width: 1000px) {
  .activity-floor {
    .sub-activity {
      .sub-img-venue {
        display: none;
      }
      .sub-img-date {
        display: none;
      }
      .display-img-price {
        display: none;
      }
    }
  }
}

@media all and (max-width: 600px) {
  .activity-floor {
    .sub-activity {
      .sub-img-title {
        display: none;
      }
    }
  }
}

.floor-header {
  font-size: 24px;
  margin-top: 1%;
  width: 100%;
  height: 33px;
  //float: left;
}

.selector-tip {
  color: #99a1aa;
  font-size: 22px;
}

.main-activity {
  margin: 1%;
  width: 23%;
  float: left;
  position: relative;
}

.main-img {
  width: 100%;
  height: auto;
}

hr {
  width: 80%;
  margin: auto;
}

.text {
  padding: 20px;
  background-color: $palevioletred;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 60%;
  opacity: 0.9;
}

.main-title {
  color: $white-color;
  font-size: 16px;
  margin-bottom: 10%;
}

.main-price {
  float: left;
  color: $white-color;
  text-align: end;
  margin-top: 5%;
}

.main-heavy {
  font-size: 28px;
  font-weight: 500;
  margin-right: 5px;
  margin-top: 0;
}

#photo-list {
  width: 80%;
  overflow: hidden;
  margin: 2% auto;
}

.card {
  width: 48%;
  position: relative;
  margin: 3% 0;
  //border: solid;
}

.card-container {
  width: 100%;
  overflow: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.card-img-container {
  width: 35%;
  float: left;
  &:hover + div {
    box-shadow: 0 0 15px 0 rgba(230, 188, 182, 0.5);
  }
}

.card-img {
  width: 80%;
  height: auto;
  margin: 5px;
  cursor: pointer;
  z-index: 1;
  opacity: 1;
  position: relative;
  box-shadow: 3px 4px 5px 0 #ccc;
  &:hover {
    & + div {
      box-shadow: 3px 4px 5px 0 rgba(230, 188, 182, 0.5);
    }
  }
}

.card-text {
  width: 94%;
  height: 98%;
  float: right; 
  position: absolute;
  top: 10%;
  left: 6%;
  padding-left: 26%;
  border: 1px solid $transparent-grey;
  z-index: 0;
  border-radius: 4px;
  box-shadow: 0 0 15px 0 hsla(203,6%,45%,.09);
  .card-text-title {
    width: 100%;
    font-size: 20px;
    margin: 5% 0 5% 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 5%;
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 15px 0 rgba(230, 188, 182, 0.5);
  }
}

.card-text-description {
  width: 95%;
  height: 18%;
  margin-bottom: 5%;
}

.card-ticket-state-container {
  height: 15%;
}

.card-ticket-state {
  float: left;
  font-size: 16px;
  color: $primary-color;
  margin-right: 2%;
}

.card-text-date {
  color: $grey-color;
  margin-bottom: 1px;
}

.card-text-location {
  float: left;
}

.card-text-price {
  float: right;
  font-size: 26px;
  color: $primary-color;
}

.card-sub-price {
  float: right;
  margin-right: 5%;
  margin-top: 8px;
  color: $grey-color;
}

#selector {
  width: 80%;
  margin: 2% auto 0 auto;
  overflow: auto;
}

#time-selector, #type-selector {
  width: 100%;
  border: 1px solid $transparent-grey;
  overflow: auto;
  margin: 1% auto 0 auto;
  border-radius: 4px;
}

#no-data-tip {
  width: 80%;
  border: 1px solid $transparent-grey;
  margin: 5% auto;
  padding: 4% 0;
  text-align: center;
  font-size: 18px;
  border-radius: 4px;
}

.selector-tip, .selector-item {
  float: left;
  width: 8%;
  margin: 2% 1%;
  font-size: 16px;
}

.selector-item {
  cursor: pointer;
}

.selector-item:hover {
  color: $primary-color-light;
}

.selector-active {
  color: $primary-color;
}

.selector-active:hover {
  color: $primary-color;
}

