@import "../public/variables";

#activity-container {
  width: 80%;
  margin: 3% auto 5% auto;
  display: flex;
  align-items: stretch;
}

#detail-img-container {
  width: 30%;
  height: auto;
  overflow: auto;
  float: left;
}

#detail-img {
  width: 90%;
  height: auto;
}

#detail-text {
  width: 70%;
  float: right;
}

#detail-title {
  font-size: 24px;
  margin-bottom: 30px;
  width: auto;
}

.detail-info-row {
  width: 100%;
  height: 40px;

  &.lower {
    margin-bottom: 18px;
    margin-top: 12px;
  }

  a {
    margin: 9px 0 0 27px;
    color: #8e8d8a;
    display: inline-block;
  }
}

.detail-tip {
  width: 50px;
  float: left;
  font-size: 16px;
  color: $grey-color;
  margin-right: 10px;

  &.lower {
    margin-top: 8px;
  }
}

.detail-item {
  width: auto;
  float: left;
  font-size: 16px;
}

.detail-price-li, #detail-num {
  display: block;
  float: left;
  width: auto;
  border: 1px solid $transparent-grey;
  margin-right: 10px;
  text-align: center;
  height: 40px;
  padding-top: 8px;
  border-radius: 6px;
  font-size: 16px;
}

.detail-price-li {
  cursor: pointer;
  padding-left: 30px;
  padding-right: 30px;
  &.active {
    border: 1px solid $primary-color;
  }
  &.none-ticket {
    &:hover {
      cursor: pointer;
    }
  }
}

.icon-num {
  font-family: iconfont;
  font-style: normal;
  margin: 0 5px;
  color: $primary-color;
  cursor: pointer;
  font-weight: 900;
  font-size: 18px;
}

#num {
  padding-left: 30px;
  padding-right: 30px;
  float: left;
}

.icon-map {
  font-family: iconfont;
  font-style: normal;
  color: $grey-color;
  font-size: 20px;
  margin-left: 30px;
  margin-right: 5px;
  cursor: pointer;
  float: left;
  &.small {
    font-size: 14px;
    margin-left: 0;
    cursor: pointer;
    padding-top: 3px;
  }
}

.map-tip {
  width: auto;
  float: left;
  &.back {
    color: $grey-color;
    cursor: pointer;
  }
}

#detail-sum {
  color: #8e8d8a;
  font-size: 16px;
  width: auto;
  float: left;
  padding-top: 8px;
  margin-right: 15px;
  text-decoration: line-through;
}

#discount-sum {
  color: $primary-color;
  font-size: 24px;
  width: auto;
  float: left;
}

#btn-buy-now, #btn-buy-select {
  color: $white-color;
  border: none;
  padding: 15px 60px;
  margin-right: 30px;
  font-size: 16px;
}

#btn-buy-now {
  background-color: $primary-color;
}

#btn-buy-select {
  background-color: $select-color;
}

#un-subscribe {
  font-size: 13px;
  padding: 3px 20px;
  border: 1px solid $transparent-grey;
  color: $grey-color;
  border-radius: 6px;
}

#lower-container {
  width: 80%;
  margin: 2% auto;
  height: auto;
  overflow: hidden;
}

.sub-title {
  color: $primary-color;
  font-size: 20px;
  margin-bottom: 15px;
  &.lower {
    margin-top: 40px;
  }
}

#description-container {
  width: 78%;
  float: left;
  height: auto;
}

#hot-container {
  float: right;
  width: 18%;
  height: auto;
}

.hot-img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.hot-show-title {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.hot-sub-bar {
  font-size: 14px;
  color: $grey-color;
  margin-bottom: 3px;
}

#description-detail {
  font-size: 15px;
  color: $black-color;
  line-height: 24px;
  img{
    width: 80%;
    height: auto;
    margin: 2% auto;
  }
}

#no-comment {
  font-size: 16px;
  color: $black-color;
}

#crumb {
  font-size: 15px;
  padding-top: 20px;
  //color: $black-color;
  a {
    color: $grey-color;
    cursor: pointer;
    &:hover{
      color: $primary-color;
    }
  }

  #cite {
    color: $black-color;
    cursor: default;
    &:hover {
      color: $black-color;
    }
  }
}


