@charset "UTF-8";

#loginButton:hover, #registerButton:hover {
	cursor: pointer;
}

#loginPanel .label-bar {
	margin: 30px;
	margin-left: 80px;
}
#loginPanel .input-group-addon {
	width: 20px;
}

#registerPanel {
	margin-top: -20px;
}
#registerPanel .label-bar {
	margin: 15px;
	margin-left: 70px;
}
#registerPanel .input-group-addon {
	width: 80px;
}

#registerPanel input, #loginPanel input {
	border: 1px groove rgba(50, 50, 50, 0.25);
	border-left: 0px;
	border-right: 0px;
}
#loginPanel input {
	padding-bottom: 1px;
}

.label-bar {
  width: 100%;
  margin-bottom: 24px;
}

.layui-layer-content {
  overflow: hidden !important;
}

.label-bar label {
  width: 130px;
  text-align: right;
  margin-right: 20px;
}