.ticket-item {
    height: 256px;
    margin-top: 30px;
    /*border-radius: 10px;*/
}

.ticket-able {
    border: 1px solid #d9d9d9;
    color: #262626;
    /*background-color: #1890FF;*/
    /*box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.50);*/
}

.ticket-disable {
    border: 1px solid #d9d9d9;
    color: #d9d9d9;
    /*background-color: #8c8c8c;*/
    /*box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.50);*/
}

.ticket-title {
    font-size: 24px;
    margin: 15px;
}

.ticket-info {
    /*color: #1890FF;*/
    margin: 20px 15px;
    font-size: 16px;
}

.ticket-hidden {
    color: white;
}

.order-item {
    margin: 0 auto 3% auto;
    width: 80%;
    height: 64px;
    border: 1px solid #d9d9d9;
    /*cursor: pointer;*/
    /*padding: 1%;*/
}

.order-title {
    font-size: 18px;
    margin: 2.5% 2%;
    width: 20%;
    float: left;
}

.order-info {
    margin: 2.5% 1%;
    font-size: 16px;
    float: left;
}

.order-disable {
    margin: 4% auto;
    width: 80%;
    height: 64px;
}

.order-detail {
    font-size: 16px;
    float: right;
    border: none;
    padding: 10px;
    color: blue;
}

#statistic-chart {
    width: 80%;
    height: 80%;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

#chart-nav {
    width: 90%;
    height: 60px;
    border-bottom: 2px solid #0050B3;
    margin-left: auto;
    margin-right: auto;
}

.chart-item {
    text-align: center;
    font-size: 16px;
    color: #262626;
    margin-top: 3%;
    cursor: pointer;
}

.chart-active {
    font-size: 18px;
    color: #0050B3;
}

.order-detail-title {
    font-size: 20px;
    margin: 5% 15%;
}

.order-detail-item {
    font-size: 16px;
    margin: 4% 15%;
}

.operation-bar {
    margin: 4% 15%;
    height: 52px;
}

.operation-btn {
    float: left;
    margin-bottom: 5%;
    margin-right: 5%;
    width: 20%;
    background-color: #0050B3; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.operation-tip {
    font-size: 14px;
    height: 52px;
    padding: 18px;
    color: #0050B3;
}

.order-detail-title {
    font-size: 24px;
    margin: 4% auto;
    width: 60%;
    /*text-align: center;*/
}

.order-detail-item {
    font-size: 18px;
    margin: 4% auto;
    width: 60%;
    /*text-align: center;*/
}

.order-container {
    border: 1px solid #d9d9d9;
    width: 80%;
    margin: 4% auto;
}

.table {
	display: table;
}
.table td {
	text-align: left;
	vertical-align: middle !important;
}

#body .table tbody .panel .panel-heading {
	padding: 0;
}
#body .table tbody .panel:first-child {
	margin-top: 20px;
}
#body .table tbody tr td {
	padding: 10px;
}
#body .table tbody .dateTag {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 5px;
}
#body .table tbody .idTag {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 5px;
}
#body .table tbody td {
	border: none;
	text-align: left;
}
#body .table tbody td:nth-child(1) {
	width: 8%;
}
#body .table tbody td:nth-child(2) {
	width: 20%;
}
#body .table tbody td:nth-child(3) {
	width: 14%;
}
#body .table tbody td:nth-child(4) {
	width: 38%;
	text-align: center;
}
#body .table tbody td:nth-child(5) {
	width: 10%;
}
#body .table tbody td:nth-child(6) {
	width: 10%;
}
